.breadcrumb {
    color: black;
    background-color: yellow;
}

#messageImg {
    /* position : relative;
    left: 20%; */
    display: inline;
    margin: 10000px 5px;
}

#odd img{
    position:right;
    margin: 20px;
}

#odd {
    /* background-color: lightblue; */
    width: 50%;
    height :50%;
}


#even img{
    position:right;
    margin: 20px;
}

#even {
    background-color: lightgoldenrodyellow;
    width: 50%;
    height :50%;
}

#mark{
    width: 20px;
    text-align: center;
}

