.breadcrumb {
    color: black;
    background-color: yellow;
}

#messageImg {
    /* position : relative;
    left: 20%; */
    display: inline;
    margin: 10000px 5px;
}

#odd img{
    position:right;
    margin: 20px;
}

#alertThread > * {
    display: inline;
    font-size: 0.9em;
    color:red;
}

#noalertThread > *{
    font-size: 0.9em;
}

/* #inline {
    display:inline;
} */


.tip {
    /* position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; */
}
  
.tip .tooltiptext {
    visibility: hidden;
    background-color: grey;
    width: 30%;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
  
    position: absolute;
    z-index: 1;
    left: 5%;
} 
  
.tip:hover .tooltiptext {
    visibility: visible;
}

